$third: #9104FF;
$second: #4F506A;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.ForgotPassword {

  overflow: hidden;

  position: relative;
  background: linear-gradient(245.03deg, #9D1CED 8.14%, #1C24ED 92.58%);
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
  color: $second;

  h1 {
    cursor: default;
  }

  .forgotPassword__title  {
    margin-top: 90px;
    margin-bottom: 50px;
    color: $third;
    font-style: normal;
    font-size: 50px;
    line-height: 61px;
  }
  p {
    font-style: normal;
    font-size: 32px;
    line-height: 39px;
  }
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1330px;
  height: 775px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  flex-direction: row-reverse;
  //justify-content: center;
}

.text__container {
  backdrop-filter: blur(10px);

}

.leftAside {
  margin: 0 auto;
  width: 50%;

}

.rightAside {
  width: 461px;
  height: 775px;
  border-radius: 0px 30px 30px 0px;

  background: linear-gradient(0deg, rgba(115, 91, 135, 0.4), rgba(115, 91, 135, 0.4)), url(../images/aside2.png);
  background-size: contain;

}

.fieldsAreRequired {
  color: crimson;
  font-weight: 700;
  margin: 5px 0;
  margin-left: 5px;
}


.email__form {

  height: 60%;

  .fieldsAreRequired {
    color: crimson;
    font-weight: 700;
    //font-size: 16px;

  }

  text-align: start;
  display: flex;
  flex-direction: column;

  label {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  input {
    background: #FFFFFF;
    border: 1px solid #9104FF;
    border-radius: 11px;
    padding: 15px 20px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
  }

  .inputIfError {
    color: crimson;
    border: 2px solid crimson;
  }

  .email__submit {
    height: 53px;
    border: none;
    margin-top: auto;
    border-radius: 13px;
    background-color: $third;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    cursor: pointer;
  }

  a {
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    text-align: end;
  }

  .dontHave__account {
    text-align: center;
  }
}

.password__form {
  height: 60%;

  .fieldsAreRequired {
    color: crimson;
    font-weight: 700;
    font-size: 26px;
  }

  text-align: start;
  display: flex;
  flex-direction: column;

  label {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  input {
    background: #FFFFFF;
    border: 1px solid #9104FF;
    border-radius: 11px;
    padding: 15px 20px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
  }

  .inputIfError {
    color: crimson;
    border: 2px solid crimson;
  }

  .password__submit {
    height: 53px;
    border: none;
    margin-top: auto;
    border-radius: 13px;
    background-color: $third;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    cursor: pointer;
  }

  a {
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    text-align: end;
  }

  .dontHave__account {
    text-align: center;
  }
}

.verifyEmail {
  h1 {
    margin: 40px auto;
  }
  label {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  input {
    background: #FFFFFF;
    border: 1px solid #9104FF;
    border-radius: 11px;
    padding: 15px 20px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
  }
  .verify__submit {
    width: 50%;
    height: 53px;
    border: none;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 13px;
    background-color: $third;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .verify__input__wrapper {
    margin-top: 50px;


  }

  .verify__input {
    border: none;
    border-bottom: 2px solid slateblue;
    border-radius: 0;
    text-align: center;
    padding: 5px;
    width: 60px;
    font-size: 30px;
    &:not(:first-child) {
      margin-left: 26px;
    }
    &:focus {
      //border: none;
      outline: none;
    }

  }

  .verify__inputIfError {
    border: none;
    border-bottom: 3px solid maroon;
    border-radius: 0;
    text-align: center;
    padding: 5px;
    width: 60px;
    font-size: 30px;
    &:not(:first-child) {
      margin-left: 26px;
    }
    &:focus {
      //border: none;
      outline: none;
    }
  }
}

